# ===== Root ignore (monorepo) =====

# Python / Django
**/__pycache__/
**/*.py[cod]
**/*.sqlite3
**/db.sqlite3
**/staticfiles/
**/media/
**/.env
**/venv/
**/.venv/

# Node / React Native
**/node_modules/
**/.expo/
**/.expo-shared/
**/dist/
**/build/
**/.parcel-cache/
**/.turbo/
**/.next/
**/.output/

# OS / IDE
**/.DS_Store
**/.vscode/
**/.idea/

# Logs
**/*.log